 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>School</h2>
      <img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/e3cf07f4b3a79616d83f674fc0080f6a1dab530c/_includes/Seal.png " alt="Amherst College" width="500" height="600">
      <p>I have taken a variety of classes in Math, Statistics and Computer Science</p>
    </div>
    <div class="tech">
      <h2>Projects</h2>
      <img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/e9ea0f7a154ac387555f204fe57c0bffa8b94f3f/_includes/Octocat.png" width="500" height="600" alt="Personal projects">
      <p>Making sense of the Opioid crisis in America, Using mass shootings to understand gun violence</p>
    </div>
    <div class="tech">
      <h2>Tools/Frameworks</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Java, R, Python, SQL in order of decreasing proficiency</p>
    </div>
</div>
