 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>School</h2>
      <img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/e3cf07f4b3a79616d83f674fc0080f6a1dab530c/_includes/Seal.png " alt="Amherst College" width="150" height="150">
      <p>I have taken a variety of classes in Math, Statistics and Computer Science</p>
    </div>
    <div class="tech">
      <h2>Projects</h2>
      <img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/e9ea0f7a154ac387555f204fe57c0bffa8b94f3f/_includes/Octocat.png" width="150" height="150" alt="Personal projects">
      <p>Making sense of the Opioid crisis in America, Using mass shootings to understand gun violence</p>
    </div>
    <div class="tech">
      <h2>Tools/Frameworks</h2>
      <img STYLE="WIDTH:106.88px; HEIGHT:37.5px" src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/c29cc9eab4f8e243b0bed52e0ee8f88a1ac8bd50/_includes/r.png" >
      <img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/c29cc9eab4f8e243b0bed52e0ee8f88a1ac8bd50/_includes/java.png" width="75" height="75">
      <IMG STYLE="position:relative; TOP:-45px; WIDTH:181.17px; HEIGHT:50px" SRC="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/c29cc9eab4f8e243b0bed52e0ee8f88a1ac8bd50/_includes/python.png">
      <p class="rel">Java, R, Python</p>
    </div>
</div>
