 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>School</h2>
      <a href="https://amherst.edu" target="_blank"><img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/e3cf07f4b3a79616d83f674fc0080f6a1dab530c/_includes/Seal.png " alt="Amherst College" width="150" height="150"></a>
      <p>I have taken a variety of classes in Math, Statistics and Computer Science</p>
    </div>
    <div class="tech">
      <h2>Projects</h2>
     <a href="https://github.com/Nzaba" target="_blank"><img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/master/_includes/Octocat.png" width="150" height="150" alt="Personal projects"></a>
      <p>The projects I have undertaken are well documented and can be accessed on my <a href="https://github.com/Nzaba" target="_blank">repository.</a></p>
    </div>
    <div class="tech">
      <h2>Tools/Frameworks</h2>
      <a href="https://github.com/Nzaba" target="_blank"><img src="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/master/_includes/progs.png" width="300" height="200"></a>
      <p class="rel">Java, Python, SQL, R, HTML, JavaScript, CSS</p>
    </div>
</div>
