<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121185447-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121185447-1');
</script>
  <script type = "text/javascript">
    var host = "raymondnzaba.com"
    if((host==window.location.host) && (window.location.protocol != https))
      window.location.protocol = "https";
    </script>

  <meta charset="utf-8">
  <link rel="canonical" href="https://raymondnzaba.com">
  <link rel="icon" href="https://raw.githubusercontent.com/Nzaba/Nzaba.github.io/9573b2f79741a6eb649c2a5d7e6d07fb4e97b396/src/img/icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  
</head>
