<div class="user-details">
  <h1> More Stuff </h1>
<div class="user-projects">
  <div class="images-right">
    <img alt="Shiny app" src="{{ "/assets/img/Opioid.png" | prepend: site.baseurl }}" width="300" height="300"/>
  </div>
  <div class="contents-right">
    <h3> Opioid Crisis Dashboard </h3>
    <ul>
    </ul>
    <p>An online tool which sheds more light on the numbers behind the tragic crisis that is opioid abuse. The documentation for this application can be found <a href="OpioidCrisis.html" target="_blank">here.</a></p>
    <a class="project-link" href="https://raymondnzaba.shinyapps.io/OpioidCrisis/" target="_blank">Check it out</a>
  </div>
</div>

</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Map" src="{{ "/assets/img/map.jpg" | prepend: site.baseurl }}" width="300" height="300"/>
  </div>
  <div class="contents-right">
    <h3> More stuff coming soon!</h3>
    <ul>
    </ul>
    <p>Under construction 🤓 🚧</p>
    <a class="project-link" href="loan_default.html" target="_blank">Check it out</a>
  </div>
</div>
