<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Swift Safe Store </h3>
    <ul>
      <li> Java</li>
    </ul>
    <p>Built a utiity up that stores credit card information and encrypts user documents. It uses WPA encryption and has a robust optimized search infrastructure.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mass shootings and gun violence </h3>
    <ul>
      <li> R</li>
    </ul>
    <p>An exploration of latest mass shootings and gun violence in America.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
