<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Lock" src="{{ "/assets/img/lock.png" | prepend: site.baseurl }}" width="300" height="300">
  </div>
  <div class="contents">
    <h3> Swift Safe Store </h3>
    <ul>
    </ul>
    <p>A protection utility tool for safeguarding confidential information. It does so by reading in files and encrypting them for safe storage on a local or remote medium. Cool features of this tool include a fully implemented WPA encryption cipher and robust search infrastructure that is optimized by the functionalities of binary search.</p>
    <a class="project-link" href="https://github.com/Nzaba/swiftsafe" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Map" src="{{ "/assets/img/map.jpg" | prepend: site.baseurl }}" width="300" height="300"/>
  </div>
  <div class="contents-right">
    <h3> Assesing Default Risk Among Loan Applicants Without Credit History </h3>
    <ul>
    </ul>
    <p>Modelling competiton sponsored by the Home Credit Group. They provide loans to customers prone to untrustworthy lending because of their insufficient or non-existent credit histories.</p>
    <a class="project-link" href="loan_default.html" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Shiny app" src="{{ "/assets/img/Opioid.png" | prepend: site.baseurl }}" width="300" height="300"/>
  </div>
  <div class="contents-right">
    <h3> Opioid Crisis Dashboard </h3>
    <ul>
    </ul>
    <p>An online tool which sheds more light on the numbers behind the tragic crisis that is opioid abuse. The documentation for this application can be found <a href="OpioidCrisis.html" target="_blank">here.</a></p>
    <a class="project-link" href="https://raymondnzaba.shinyapps.io/OpioidCrisis/" target="_blank">Check it out</a>
  </div>
</div>
